body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.comment {
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 15px;
  }

  .comment p {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
  }